:root {
  --green-color: #67bc6c;
  --blue-color: #3983c5;
  --red-color: #ee3232;
  --yellow-color: #fec23c;
  --dark-color: #404040;
  --dark-grey-color: #808080;
  --regular-grey-color: #bfbfbf;
  --light-grey-color: #f2f2f2;
}
