.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  padding: 10px 20px;
}

.header::before {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;

  width: 100vw;
  height: 100%;

  content: '';
  transform: translateX(-50%);

  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.10);
}

.header::after {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;

  display: block;
  visibility: hidden;

  width: 100vw;
  height: 100vh;

  content: '';
  transition: opacity 0.25s, visibility 0.25s;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.header_position_standart {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.header_overlay::after {
  visibility: visible;

  opacity: 1;
}

.header__logo {
  width: auto;
  height: 32px;
  margin-right: auto;
}

.header__navigation {
  position: fixed;
  top: 0;
  right: 0;

  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 30px 0;

  border-radius: 0 0 10px 10px;
}

.header__navigation_type_signbar {
  position: relative;

  max-width: max-content;
  padding: 0;
}

@media screen and (min-width: 900px) {
  .header__logo {
    height: 37px;
  }

  .header__navigation {
    position: relative;

    max-width: max-content;
    padding: 0;
  }
}
