.base {
  position: relative;
<<<<<<< HEAD:src/components/Content/Content.module.css

  display: grid;
  row-gap: 20px;
  grid-template-columns: auto;
}

.basePositionStandart {
  composes: base;

  margin-top: calc(52px + 20px);
}

@media screen and (min-width: 900px) {
  .basePositionStandart {
    margin-top: calc(57px + 20px);
  }
}
=======
}
>>>>>>> 374447910fbb3593ba986326a9a99bb1393ad46c:src/components/Content/Content.css
