.base {
  position: relative;

  display: grid;
  row-gap: 20px;
  grid-template-columns: auto;
}

.basePositionStandart {
  composes: base;

  margin-top: calc(52px + 20px);
}

@media screen and (min-width: 900px) {
  .basePositionStandart {
    margin-top: calc(57px + 20px);
  }
}
