.header-bar {
  position: relative;
}

.header-bar__list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.header-bar__item {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-right: 10px;
}

.header-bar__item:last-child {
  margin-right: 0;
}

.header-bar__link {
  position: relative;

  font-weight: 500;
}

.header-bar__link_active::after {
  position: absolute;
  bottom: -5px;
  left: 0;

  display: block;

  width: 100%;

  content: '';

  border-bottom: 1px solid var(--green-color);
}

@media screen and (min-width: 900px) {
  .header-bar__item {
    margin-right: 13px;
  }
}
