@keyframes smooth-appearance {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.main {
  position: relative;

  animation-name: smooth-appearance;
  animation-duration: 0.25s;

  opacity: 1;
  background-color: #ffffff;
}

.mainTypeSignbar {
  background-color: transparent;
}

.list {
  align-items: center;
}

.listTypeSignbar {
  flex-direction: row;
}

.item {
  display: flex;
  align-items: center;
  flex-direction: row;

  margin-top: 20px;
}

.item:last-child {
  margin-top: 60px;
}

.itemTypeSignbar {
  margin-top: 0;
  margin-right: 10px;
}

.itemTypeSignbar:last-child {
  margin-top: 0;
  margin-right: 0;
}

.link {
  position: relative;

  font-size: 18px;
  font-weight: 500;
}

.linkActive::after {
  position: absolute;
  bottom: -5px;
  left: 0;

  display: block;

  width: 100%;

  content: '';

  border-bottom: 1px solid var(--green-color);
}

.linkTypeSignbar {
  font-size: 12px;
}

@media screen and (min-width: 900px) {
  .main {
    background-color: transparent;
  }

  .list {
    flex-direction: row;
  }

  .item {
    margin-top: 0;
    margin-right: 10px;
  }

  .item:last-child {
    margin-top: 0;
    margin-right: 0;
  }

  .link {
    font-size: 14px;
  }
}
