.base {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  padding-bottom: 10px;

.base::before {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 50%;

  width: 100vw;
  height: 100%;

  content: '';
  transform: translateX(-50%);

  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.base::after {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  visibility: hidden;

  width: 100%;
  height: 100%;

  content: '';
  transition: opacity 0.25s, visibility 0.25s;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.basePositionStandart {
  composes: base;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;

  transform: translateX(-50%);
}

.baseOverlay {
  composes: basePositionStandart;
}

.baseOverlay::after {
  visibility: visible;

  opacity: 1;
}

.header__logo {
  width: auto;
  height: 32px;
  margin-right: auto;
}

.header__navigation {
  position: fixed;
  top: 0;
  right: 0;

  box-sizing: border-box;
  width: 100%;
  max-width: 500px;
  padding: 30px 0;

  border-radius: 0 0 10px 10px;
}

.navigationTypeSignbar {
  composes: navigation;

  position: relative;

  max-width: max-content;
  padding: 0;
}

.header__menu-button {
  position: relative;
}

.header__menu-button_opened {
  position: fixed;
  top: calc(20px + 4px);
  right: 20px;
}

@media screen and (min-width: 600px) {
  .header__menu-button_opened {
    right: 40px;
  }
}

@media screen and (min-width: 900px) {
  .header__logo {
    height: 37px;
  }

  .header__navigation {
    position: relative;

    max-width: max-content;
    padding: 0;
  }
}
