.base {
  padding: 0.75em 1.5em;

  border-width: 1px;
  border-style: solid;
  border-color: var(--dark-color);
  border-radius: 1.5em;

  line-height: 1;
}

.profile {
  composes: base;
}

.profile::before {
  display: inline-block;

  width: 0.75em;
  height: 0.75em;
  margin-right: 0.25em;

  content: '';

  background-image: url('../../images/profile.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.profileActive {
  composes: profile;

  border-color: var(--green-color);
}

.profileActive::before {
  background-image: url('../../images/profile-active.svg');
}

.register {
  composes: base;
}

.registerActive {
  composes: register;

  border-color: var(--green-color);
}

.login {
  composes: base;

  color: #ffffff;
  border-color: var(--blue-color);
  background-color: var(--blue-color);
}

.loginActive {
  composes: login;

  color: inherit;
  background-color: transparent;
}
