@import url(../src/utils/styles/custom-properties.css);
@import url(../src/utils/styles/visually-hidden.css);
@import url(../src/utils/styles/fonts.css);
@import url(../src/vendor/normalize.css);

body {
  position: relative;

  margin: 0;

  color: var(--color-dark);
  background-color: #ffffff;

  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
