.base {
  display: block;

  cursor: pointer;
  transition: opacity 0.5s;
  text-decoration: none;

  opacity: 1;
  color: currentColor;
}

.base:hover {
  transition: opacity 0.1s;

  opacity: 0.7;
}

.base:focus {
  outline: none;
}

.base:focus-visible {
  outline: 3px solid var(--blue-color);
  outline-offset: 3px;
}
