.base {
  display: block;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: background-color 0.5s;

  opacity: 1;
  border: none;
  background-color: transparent;

  font: inherit;
  line-height: 1;
}

.base:hover {
  transition: background-color 0.1s;

  background-color: transparent;
}

.base:focus {
  outline: none;
}

.base:focus-visible {
  outline: 3px solid var(--blue-color);
  outline-offset: 3px;
}

.baseStyleClassic {
  composes: base;

  padding: 0.75em 1.5em;

  transition: opacity 0.5s;

  opacity: 1;
  color: var(--dark-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 1.5em;
}

.baseStyleClassic:hover {
  transition: opacity 0.1s;

  opacity: 0.7;
}
